@charset "utf-8";
/*
*/
/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {margin:0;padding:0;border:0;vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
body {line-height:1;}
ol,ul {list-style: none;}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content:"";content:none;}
table {border-collapse:collapse;border-spacing:0;}
caption,legend {width:1px;height:1px;font-size:0;line-height:0;visibility:hidden;overflow:hidden;}
legend {position:absolute;}
a {color:#949494;text-decoration:none;}
a:active {color:#888;text-decoration:none;}
/* input */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {height:12px;padding:4px 0;font-size:1em;border:1px solid #bfbfbf;}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus {border-color:#666;}
input[type="submit"],input[type="button"] {cursor:pointer;}
input[type="file"] {height:22px;padding:0;border:1px solid #d5d5d5;background-color:#fff;}
input[disabled] {background-color:#f9fbfa;}
textarea {padding:5px;line-height:130%;border:1px solid #bfbfbf;}
select {height:22px;font-size:1em;line-height:22px;}
@media all and (min-width:0) {
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:22px;padding:4px;}
input[type="file"] {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;height:24px;}
}
/* common */
.skip {position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;opacity:0;}
table thead.skip {position:static;margin:0;padding:0;height:0;font-size:0;line-height:0;border:0;visibility:hidden;overflow:hidden;}
table thead.skip th,table thead.skip td {margin:0;padding:0;height:0;font-size:0;line-height:0;border:0;visibility:hidden;overflow:hidden;}
hr {display:none;}
img {max-width:100%;}


* { margin:0; padding:0;}
html, body { margin:0; padding:0; height:100%;}
body {font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif, Arial !important ; font-size:12px; position:relative; width: 100%;} 
table, div {border-collapse:collapse;}
select, textarea,input {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
form, ul, ol, dl, table, div, h1, h2, h3 ,h4 {margin:0;padding:0;}
h1, h2, h3 ,h4, h5, h6{font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
img, fieldset {border:0; margin:0; padding:0; }
select, input, li, img {vertical-align:top; }
ul, li, dl, dt, dd{list-style-type : none; }
caption { text-indent:-5000px; line-height:0; font-size:0;}
legend{ text-indent:-5000px; line-height:0; font-size:0; position:absolute; top:0; left:0;}
hr{display:none;}
a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}
.mobile1
{ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
.mobile2-1
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 0px;
    width: 100%;
}
.mobile2-3
{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    line-height: 0px;
}
.mobile3{
  width: 100%; 
  max-width: 640px; 
  background-image: image-url("page_tab/CQDS_Mobile/youtube_back.png");
  background-repeat: repeat-y;
  iframe{
    margin: 0 auto;	
    border: 0; 
    width: 87%;
    height: 180px;
    display: block;
  }
}
.mobile4-1
{ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    margin-top: 0px;
    width: 100%;
}   
.mobile4-2-1
{ 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float:left;
}   
.mobile4-2-2
{ 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float:left;
}   
.mobile4-2-3
{ 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    float:left;
}   
.mobile4-3
{ 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    width: 100%;
}   



.mobile5
{ 
    background-size:  cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
table {
  border-collapse: collapse;
}

.mobile6
{ 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.phone_first{
  float: left;
  width: 100px;
  input{
    font-size:15pt; 
    padding: 2px 2px 2px 2px; 
    width:100px; 
    height:46px; 
    ime-mode: disabled;
  }
}
.phone_middle{
  float: left;
  width: 100px;
  padding-left: 32px;
  input{
    font-size:15pt; padding: 2px 2px 2px 2px; 
    width:100px; 
    height:46px; 
    ime-mode: disabled; 
  }
}
.phone_last{
  float: left;
  width: 100px;
  padding-left: 20px;
  input{
    font-size:15pt; 
    padding: 2px 2px 2px 2px; 
    width:100px; 
    height:46px; 
  }
}
.check{
	padding-top: 68px;	
}
.check_ul {
  width: 300px;
	padding-left: 233px;
}

.check_agree {
  float: left;
  width: 56px;
  input{
    float: left;
    margin-top: 8px;
  }
  label{
    float: left;
    margin-top: 8px;
    margin-left: 2px;
  }
}
.provision  {
  float: left;
	padding-left: 41px;
}

.modal a.close-modal {
  display: none;
}

.modal-spinner {
  display: none;
}
.popup1_check{
  width: 312px;
  margin: 0 auto;
  padding-top: 236px;
}

.popup2_check{
  width: 312px;	
  margin: 0 auto;
  padding-top: 404px;
  outline:none; 
}
.popup3_check{
  width: 312px;
  margin: 0 auto;
  margin-top: 365px;
  outline:none; 
}
div.user_name{
  input{
    float: left;
  }
  label{
    float: left;
    margin-top: 18px;
    margin-left: 8px;
  }
}
.name {
	padding-top: 252px;
	padding-left: 172px;	
	width: 241; height: 42px;
}

.phone {
	padding-top: 16px;
}
.phone_ul{
	padding-left: 173px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}
.coloring_link{
  width: 100%; max-width: 320px;
}
#join img{
  margin: 0 auto;
  margin-top: 40px;
}