@charset "utf-8";
/* CSS Document */


/*reset*/
/* Reset */
* { margin:0; padding:0;}
html, body { margin:0; padding:0; height:100%;}
body {font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif, Arial !important ; font-size:12px; position:relative;} 
table, div {border-collapse:collapse;}
select, textarea,input {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
form, ul, ol, dl, table, div, h1, h2, h3 ,h4 {margin:0;padding:0;}
h1, h2, h3 ,h4, h5, h6{font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
img, fieldset {border:0; margin:0; padding:0; }
select, input, li, img {vertical-align:top; }
ul, li, dl, dt, dd{list-style-type : none; }
caption { text-indent:-5000px; line-height:0; font-size:0;}
legend{ text-indent:-5000px; line-height:0; font-size:0; position:absolute; top:0; left:0;}
hr{display:none;}

a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0
}
.clearfix:after, .container_24:after {
	clear:both
}
.clearfix, .container_24 {
	zoom:1
}
.cqds_wrap{ 
  width:810px;
  height:1316px;
  background: image-url("page_tab/CQDS/main.jpg") 0 0 no-repeat;
}
.cqds_youtube_select { 
  width: 557px;
  margin: 0 auto;
  max-width:100%;
  padding-top:448px;
}
.cqds_youtube_view { 
  width: 557px;
  margin: 0 auto;
  padding-top:70px;
}

.cqds_donate { 
  padding-top:30px;
  width: 252px;
  margin: 0 auto;
}
.cqds_donate { 
  padding-top:30px;
  width: 252px;
  margin: 0 auto;
}

.cqds_down_field { 
  padding-top:65px;
  width: 642px;
  margin: 0 auto;
}
li.down_select_button02 {
  margin-left: 35px;
  width:286px;
}
li.down_select_button01 {
  margin-right: 35px;
  width:286px;
  
}
li { float:left; }
