@charset "utf-8";
/* CSS Document */


/*reset*/
/* Reset */
* { margin:0; padding:0;}
html, body { margin:0; padding:0; height:100%;}
body {font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif, Arial !important ; font-size:12px; position:relative;} 
table, div {border-collapse:collapse;}
select, textarea,input {font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
form, ul, ol, dl, table, div, h1, h2, h3 ,h4 {margin:0;padding:0;}
h1, h2, h3 ,h4, h5, h6{font-size:12px; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; vertical-align:top;}
img, fieldset {border:0; margin:0; padding:0; }
select, input, li, img {vertical-align:top; }
ul, li, dl, dt, dd{list-style-type : none; }
caption { text-indent:-5000px; line-height:0; font-size:0;}
legend{ text-indent:-5000px; line-height:0; font-size:0; position:absolute; top:0; left:0;}
hr{display:none;}

a:link{text-decoration:none; color:#000;}
a:visited{text-decoration:none; color:#000;}
a:hover{text-decoration:none; color:#000;}
a:active{text-decoration:none; color:#000;}

.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:before, .clearfix:after, .container_24:before, .container_24:after {
	content:'.';
	display:block;
	overflow:hidden;
	visibility:hidden;
	font-size:0;
	line-height:0;
	width:0;
	height:0
}
.clearfix:after, .container_24:after {
	clear:both
}
.clearfix, .container_24 {
	zoom:1
}
.cqds_wrap{ 
  width:810px;
  height:1316px;
  background: asset-url("page_tab/CQDS/main.jpg") 0 0 no-repeat;
}
.cqds_youtube{

}
.cqds_youtube_select { 
  width: 557px;
  margin: 0 auto;
  max-width:100%;
  padding-top:448px;
}
.cqds_youtube_view { 
  width: 557px;
  margin: 0 auto;
  padding-top:65px;
}

.cqds_donate { 
  width: 252px;
  margin: 0 auto;
  padding-top:20px;
  padding-bottom: 0px;
  margin-top: 5px;
  .donation_count{
    margin-top: -10px;
    margin-bottom: 20px;
    max-width: 640px;
    color: white;
    text-align: center;
  }
}
.cqds_down_field { 
  padding-top:45px;
  width: 642px;
  margin: 0 auto;
}
li.down_select_button02 {
  margin-left: 35px;
  width:286px;
}
li.down_select_button01 {
  margin-right: 35px;
  width:286px;
  
}
li { float:left; }
.modal_success {
  opacity:1.0; 
  width: 500px; 
  height: 581px;
  display: none;
  background: image-url("page_tab/CQDS/Popup3/back.png") no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 }  

.modal_start {
  opacity:1.0; 
  width: 500px; 
  height: 377px;
  display: none;
  background: asset-url("page_tab/CQDS/Popup/thanks.png") no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 }
 
.modal_fail {
  opacity:1.0; 
  width: 500px; 
  height: 245px;
  display: none;
  background: asset-url('page_tab/CQDS/Popup2/fail.png') no-repeat 0 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -ms-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
 }
 
.modal_limit {
 opacity:1.0; 
 width: 500px; 
 height: 245px;
 display: none;
 background: asset-url('page_tab/CQDS/Popup_limit/limit.png') no-repeat 0 0;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -o-border-radius: 8px;
 -ms-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: 0 0 10px #000;
 -moz-box-shadow: 0 0 10px #000;
 -o-box-shadow: 0 0 10px #000;
 -ms-box-shadow: 0 0 10px #000;
 box-shadow: 0 0 10px #000;
} 

.modal_congratulation {
 opacity:1.0; 
 width: 500px; 
 height: 245px;
 display: none;
 background: asset-url('page_tab/CQDS/Popup_congratulation/pop_congratulation.png') no-repeat 0 0;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -o-border-radius: 8px;
 -ms-border-radius: 8px;
 border-radius: 8px;
 -webkit-box-shadow: 0 0 10px #000;
 -moz-box-shadow: 0 0 10px #000;
 -o-box-shadow: 0 0 10px #000;
 -ms-box-shadow: 0 0 10px #000;
 box-shadow: 0 0 10px #000;
} 

 
 
.modal a.close-modal {
  display: none;
}

.modal-spinner {
  display: none;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -32px;
  margin-top: -32px;
  background: asset-url("page_tab/spinner.gif") #111 no-repeat center center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
 }
.popup1_check{
  width: 176px;
  margin: 0 auto;
  padding-top: 280px;
}

.popup2_check{
  width: 176px;	
  margin: 0 auto;
  padding-top: 154px;
  outline:none; 
}
.popup3_check{
  padding-top: 232px;
  width: 176px;
  margin: 0 auto;
  outline:none; 
}

.name {
	padding-top: 186px;
	padding-left: 161px;	
	width: 179; height: 31;
}

.phone {
	padding-top: 6px;
}
.phone_ul{
	padding-left: 161px;
}
.phone_first{
}
.phone_middle{
	padding-left: 17px;
}
.phone_last{
	padding-left: 17px;
}
.check{
	padding-top: 9px;
  padding-left: 210px;
  width: 236px;
  clear: both;
}
.check_inner_agree{
  float: left;
  padding-top: 3px;
  width: 115px;
  label.error{
    width: 120px;
  }
}
label.error{
  margin-left: 5px;
}
input[type=text]{
  font-size: 11px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
}

.check_ul {
	padding-left: 206px;
}
.check_agree {
}
.provision_button  {
	padding-left: 38px;
  float: left;
}
#youtube_01{
  cursor: pointer;
}
#youtube_02{
  cursor: pointer;
}
.popup_close{
  width: 38px;
  height: 36px;
  float: right;
}
.spinner{
  left: 2vw;
  top: 2vh;
}
.fb-comments{
  max-height: 400px;
  overflow: scroll;
}