<div class="row-fluid">
  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">당첨자 목록</div>
    </div>
    <div class="block-content collapse in">
      <div class="span12">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data-table">
          <thead>
            <tr>
              <th>번호</th>
              <th>참여자</th>
              <th>참여 댓글</th>
            </tr>
          </thead>
          <tbody>
            <% @winners.each do |winner| %>
              <tr class="">
                <td>
                  <%= link_to(winner.id, nil, title: winner.user.uid) %>
                </td>
                <td>
                  <%= link_to image_tag(winner.user.profile_image), "https://facebook.com/#{winner.user.uid}", target: "_blank" %>
                  <%= winner.user.name %>
                </td>
                <td class="updated_at">
                  <p><%= winner.updated_at.strftime("%m.%d %H:%m") %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>
