<div class="like_button" id="like_button">
  <fb:like href="<%= FACEBOOK_CONFIG[:page_address]%>" colorscheme="light" layout="button_count" action="like" show_faces="false" send="false"></fb:like>
</div>
<div class="like_wrap">
  <%= image_tag "page_tab/CQDS_M/shield.png"%>
</div>

